<a href="https://colab.research.google.com/github/Kowshik1759/23CSBTB28/blob/main/Types_of_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 import numpy as np
list={1,5,2,6,7}
print(list)
print(type(list))

{1, 2, 5, 6, 7}
<class 'set'>

In [2]:
import numpy as np
list=[1,5,2,6,7]
print(list)
list1=[2,3,4,5,6]
print(list1)
print(type(list))
print(type(list1))

list=["Greeks","For","Greeks"]
list2="my first lab"
list3=4.3
list4=2j+6
list5='My first lab'
print(type(list2))
print(type(list3))
print(type(list4))
print(type(list5))
print("\nlist Items: ")
print(list)
print(type(list))
print(list[0])
print(list[1])
print(list[2])

[1, 5, 2, 6, 7]
[2, 3, 4, 5, 6]
<class 'list'>
<class 'list'>
<class 'str'>
<class 'float'>
<class 'complex'>
<class 'str'>

list Items:
['Greeks', 'For', 'Greeks']
<class 'list'>
Greeks
For
Greeks

In [3]:
list=["Greeks","For","Greeks"]
list2="my first lab"
list3=4.3
list4=2j+6
list5='My first lab'
print(type(list2))
print(type(list3))
print(type(list4))
print(type(list5))
print("\nlist Items: ")
print(list)
print(type(list))
print(list[0])
print(list[1])
print(list[2])

<class 'str'>
<class 'float'>
<class 'complex'>
<class 'str'>

list Items:
['Greeks', 'For', 'Greeks']
<class 'list'>
Greeks
For
Greeks

In [4]:
List = {1:"greek1",2:'Greeks','for':3,'Greeks':6}
print("\nList with the use o mixed values: ")
print(list)
[print(type(list))]

List with the use o mixed values:
['Greeks', 'For', 'Greeks']
<class 'list'>

[None]